:root {
  --action-vertical-offset: -250px;
}
body {
  margin: 0;
  font-family: "Anton", sans-serif;
}
.loader-container {
  transform: translate(0, -230px);
}
.loader {
  width: 40px;
  height: 40px;
  background-color: white;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.song-title {
  color: white;
  font-size: 3.5rem;
  font-weight: 400;
  transform: translate(0, -380px);
}

.control-btn {
  background-color: #ffe600;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
}
.play {
  transform: translate(0, var(--action-vertical-offset));
}
.pause {
  transform: translate(0, var(--action-vertical-offset));
}
.next {
  transform: translate(160px, var(--action-vertical-offset));
}
.prev {
  transform: translate(-160px, var(--action-vertical-offset));
}

.control-btn:hover {
  cursor: pointer;
}

#p5_loading {
  background-color: #00ffe6;
  width: 100vw;
  height: 100vh;
}

#slider-container {
  position: absolute;
  left: -70px;
  bottom: 100px;
}
#volume-slider {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#volume-slider {
  -webkit-appearance: none;
  width: 200px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#volume-slider:hover {
  opacity: 1;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #ffe600;
  cursor: pointer;
}

#volume-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}
